#banner_container{
    height: auto;
    width: 100%;
    background-color: rgb(246, 242, 236);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#banner_images{
    height: auto;
    width: 100%;
    align-content: top;
    background-image: url("./../../public/assets/images/BANNER/GUITBAN1.jpg");
    background-size: cover;
    box-shadow: 2px 3px 5px gray;
}

#button_container{
    margin-top: 2vh;
    display: flex;
    width: 200px;
    justify-content: space-between;

}

.button_banner{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 2px black;
    background-color: transparent;  
    cursor: pointer;
}

.button_banner:hover, .activ{
    transform: scale(1.1);
    background-color: black;
}

.button_banner:active{
    transform: scale(1.1);
    background-color: black;
    transform: translateY(4px);
}