
/* Style the list */
ul.breadcrumb {
    display:inline-flex;
    padding: 2vh 0vh 2vh 0vh;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align:start;
    font-family: RussoOne;
    width: 100%;
    // background-color: white;
}

  /* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 1.3vw;
}

  /* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

  /* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #9b0f2d;
}

  /* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #4e050e;
    box-shadow: rgba(222, 9, 9, 0.3) 2px 8px 8px -5px;
    color: rgb(78, 78, 78);
}