#form_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-bottom: 3%;

    form {
        display: flex;
        font-family: 'Noto Sans', sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 50vw;
        height: 10vmax;
        border-radius: 1vmax;
        border-collapse: separate;
        border: 0.2vmax solid black;
        box-shadow: 2px 3px 5px gray;

        h3 {
            font-size: 2.5vw;
            margin: 1.3vmax 0 1.3vmax 0;
            font-weight: bold;
        }
    }
}

#form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5vmax;

    label {
        font-size: 1.7vw;
        margin-right: 1%;
    }

    #email_field {
        font-size: 1.5vmax;
        width: 40%;
    }

    #submit_button {
        background-color: rgba(255, 50, 50, 1);
        color: white;
        width: 5vmax;
        font-size: 1.2vmax;
        border-radius: 5px;
        border: 1px solid black;
        margin-left: 2%;
        padding: 0.3vh 0 0.3vh 0;
    }

    #submit_button:hover {
        background-color: black;
        transform: scale(1.1);
        transition: all .2s;
    }
}