header{
    background-color: whitesmoke;
    height: 100px;
}

#header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

#company_name {
    font-size: 2rem;
    color: black;
    font-weight: 100;
}

#menu_button {
    position: absolute;
    right: 50px;
    transition-duration: .2s;
}

#menu_title {
    font-size: 2em;
}

#menu_button:hover {
    transform: scale(1.1);
    
}

.nav{
    height: 15vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
 }

// #menu_button:hover{
//     background-color: white;
// }

.menu_desplegable{
    position: absolute;
    right: 0;
    visibility: hidden;
    height: 85vh;
    width: 33vw;
    background-color: black;
    display: grid;
    place-items: center;
    // transform: translateX(100vw);
    //transition: 300ms ease-in-out;
    
}

.click{
    // transform: translateX(67vw);
    visibility: visible;
}

.nav_link{
    width: 33vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.link{
    color: azure;
    font-family:"Courier New", monospace;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.link:hover{
    background-color: aqua;
    cursor: pointer;
    color: bisque;
}