header{
    position: relative;
    background-color: white;
    height: 100px;
    font-family: RussoOne;
    box-shadow: 2px 3px 5px gray;
}

#header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
}

#play_pause_button {
    margin-left: 2%;
}

.play_pause_images {
    height: 50px;
}

#pause_image {
    display: none;
}

.play_pause_images:hover {
    transform: scale(1.1);
    transition: all .2s;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

.logo img:hover {
    transform: scale(1.1);
    transition-duration: .2s;
}

#company_name {
    font-size: 200%;
    color: black;
    font-weight: 100;
    cursor: default;
}

#menu_and_cart_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.header_cart {
    width: 35px;
}

#menu_button {
    margin-right: 2%;
    transition-duration: .2s;
    cursor: pointer;
}

#menu_title {
    font-size: 2rem;
}

#menu_button:hover {
    transform: scale(1.1);
    
}

.nav{
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
 }

.menu_desplegable{
    position: absolute;
    right: 0;
    visibility: hidden;
    height: auto;
    width: 15vw;
    background-color: white;

    // transform: translateX(100vw);
    // transition: 300ms ease-in-out;
    
}

.click{
    // transform: translateX(67vw);
    visibility: visible;
}

.nav_link{
    width: 15vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8% 4% 8% 0%;
    height: 60%;
    border: solid;
    border-radius: 3%;
    box-shadow: 2px 3px 5px gray;
}

.link{
    color: black;
    font: bold;
    font-size: 2.5vh;
    width: 100%;
    text-align: right;
    transform-origin: center;
    line-height: 140%;
    margin-bottom: 2vh;
}

.link_cat{
    color: black;
    font-size: 2.5vh;
    text-align: right;
    transform-origin: center;
}

.link:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #9b0f2d;
    transition: all .2s;
}

#category:hover{
    color: black;
    transform: none;
    cursor: default;
}

.link_cat:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #9b0f2d;
    transition: all .2s;
}