#product_details_main {
    height: 85vh;
}

#product_details_title{
    text-align: center;
    padding: 1.8rem;
    padding-top: 5vh;
}

#product_container{
    display: flex;
    justify-content: space-around;   
    margin-bottom: 6.5vh;
    padding-top: 3vh;
}

#product_details_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

#product_img_and_fav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product_img_and_fav img{
    width: 20rem;
    border-radius: 5%;
}

#price_and_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.cart_img {
    height: 2rem;
}

#add_cart_txt {
    font-size: 1rem;
    padding-top: 1vh;
}

#product_price {
    font-size: 2rem;
    margin-bottom: 20px;
}

.heart{
    background-image: url('https://i.ibb.co/8sTbrLt/1-MTZW1-G1m-E7-LSX1-Cnh-TYe-HA.png');
    cursor: pointer;
    height: 85px;
    width: 100px;
    // margin-left: 35%;   
}
  
.heart-animation{
    animation: heart-beat .4s steps(28) 1 forwards;  
}
  
@keyframes heart-beat{
   from { background-position: left; }
   to { background-position: right; }
}

#favorites_text {
    text-align: center;
    font-size: 1rem;
}

#full_cart {
    display: none;
}

#product_text_div{
    width: 27rem;
    height: 26rem;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

#product_desc_title{
    text-align: center;
    padding: 7%;
}

#product_text{
    text-align: justify;
    line-height: 27px;
    margin: 6% ;
}